<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=/public/create.css>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h3 class="text-center">Create your DevCard</h3>
    <div class="form-group">
      <input type="name" name="name" class="form-control" placeholder="Your Full Name">
    </div><br>
    <div class="form-group">
      <input type="aboutme" name="aboutme" class="form-control" placeholder="About me">
    </div>
    <p>Technologies you Know:</p>

  <div>
    <input type="checkbox" id="html" name="html">
    <label for="html">HTML</label>
    </div>
  <div>
    <input type="checkbox" id="css" name="css">
    <label for="css">CSS</label>
  </div>
  <div>
   <input type="checkbox" id="js" name="js">
    <label for="js">JS</label>
  </div>
  <div>
    <input type="checkbox" id="git" name="git">
    <label for="git">Git</label>
  </div>
  <div>
    <input type="checkbox" id="react" name="react">
    <label for="react">React</label>
  </div>
  <div>
    <input type="checkbox" id="node" name="node">
    <label for="node">Node.js</label>
  </div>
<br>
<div class="form-group">
  <input type="github" name="github" class="form-control" placeholder="Github URL">
</div><br>
<div class="form-group">
  <input type="twitter" name="twitter" class="form-control" placeholder="Twitter URL">
</div><br>
<div class="form-group">
  <input type="books" name="books" class="form-control" placeholder="Favourite Books (Separate by comma)">
</div><br>
<div class="form-group">
  <input type="artists" name="artists" class="form-control" placeholder="Favourite Artists (Separate by comma)">
</div><br>
<button type="submit" class="btn btn-primary">Create Site</button>
</form>
</div>
  </body>
</html>
